Repository mmerah/ai-gamemaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-app, mypy-tests, mypy-run

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install with: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - Fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.13
    hooks:
      # Run the linter
      - id: ruff
        args: [ --fix ]
      # Run the formatter
      - id: ruff-format

  # Type checking with mypy
  - repo: local
    hooks:
      - id: mypy-app
        name: Type check app/ with mypy
        entry: mypy app --strict
        language: system
        pass_filenames: false
        files: ^app/.*\.py$
        
      - id: mypy-tests
        name: Type check tests/ with mypy
        entry: mypy tests --strict
        language: system
        pass_filenames: false
        files: ^tests/.*\.py$
        
      - id: mypy-run
        name: Type check run.py with mypy
        entry: mypy run.py --strict
        language: system
        pass_filenames: false
        files: ^run\.py$
        
  # Run all tests including RAG tests
  - repo: local
    hooks:
      - id: pytest-all
        name: Run all tests (including RAG)
        entry: python tests/run_all_tests.py --with-rag
        language: system
        pass_filenames: false
        always_run: true
        verbose: true

feat: Add ContentValidator for D&D 5e content validation
  app/domain/validators/__init__.py
  app/domain/validators/content_validator.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  scripts/demo_content_validation.py
  tests/unit/domain/validators/test_content_validator.py
Due: mypy-app, mypy-tests

fix: Remove 'Total' from content type dropdown in ContentPackDetailView
  frontend/src/components/content/ContentPackCard.vue
  frontend/src/types/content.ts
  frontend/src/views/ContentPackDetailView.vue
Due: none

feat: Complete Task 6.4.1 - Simplify event emission pattern
  app/api/game_routes.py
  app/core/container.py
  app/domain/combat/combat_service.py
  app/services/action_handlers/base_handler.py
  app/services/action_handlers/retry_handler.py
  app/services/ai_response_processor.py
  app/services/ai_response_processors/dice_request_handler.py
  app/services/ai_response_processors/narrative_processor.py
  app/services/ai_response_processors/state_update_processor.py
  app/services/ai_response_processors/turn_advancement_handler.py
  app/services/chat_service.py
  app/services/state_updaters/combat_condition_updater.py
  app/services/state_updaters/combat_helpers.py
  app/services/state_updaters/combat_hp_updater.py
  app/services/state_updaters/combat_state_updater.py
  app/services/state_updaters/inventory_updater.py
  app/services/state_updaters/quest_updater.py
  app/utils/event_helpers.py
  docs/DATABASE-MIGRATION-PLAN.md
  docs/DATABASE-MIGRATION-PROGRESS.md
  tests/conftest.py
  tests/unit/domain/combat/test_combat_service.py
  tests/unit/domain/game_model/test_state_processors_combat_end.py
  tests/unit/services/test_ai_response_processor.py
Due: mypy-app, mypy-tests

refactor: Complete Task 3.5 - Simplify Public API to Single Entry Point
  app/services/game_orchestrator.py
  docs/DATABASE-MIGRATION-PROGRESS.md
Due: mypy-app

refactor: Simplify repository methods and standardize timestamp handling
  app/models/campaign.py
  app/models/character.py
  app/repositories/game/campaign_instance_repository.py
  app/repositories/game/campaign_template_repository.py
  app/repositories/game/character_instance_repository.py
  app/repositories/game/character_template_repository.py
  app/repositories/game/in_memory_campaign_instance_repository.py
  app/repositories/game/in_memory_character_instance_repository.py
  tests/unit/domain/campaigns/test_campaign_service_content_packs.py
  tests/unit/repositories/game/test_campaign_instance_repository.py
Due: mypy-app, mypy-tests

feat: Complete Phase 5.6 Tasks 5.6.9-5.6.10 - Frontend content pack integration and state management cleanup
  app/api/character_routes.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  frontend/src/components/campaign/ContentPackBadge.vue
  frontend/src/composables/useD5eData.ts
  frontend/src/services/campaignApi.ts
  frontend/src/stores/campaignStore.ts
  frontend/src/stores/gameStore.ts
Due: mypy-app

docs: Clean up database migration documentation
  docs/DATABASE-MIGRATION-PLAN.md
  docs/DATABASE-MIGRATION-PROGRESS.md
Due: none

refactor: Complete Task 3.4 - Standardize Event Types with Enums
  REORGANISATION-PLAN-BEFORE-6.3.2.md
  app/api/game_routes.py
  app/content/rag/rag_context_builder.py
  app/core/interfaces.py
  app/domain/campaigns/campaign_factory.py
  app/models/events/__init__.py
  app/models/events/event_types.py
  app/models/events/event_utils.py
  app/models/events/game_events.py
  app/models/events/system.py
  app/models/game_state.py
  app/models/shared/__init__.py
  app/models/shared/chat.py
  app/providers/ai/prompt_builder.py
  app/repositories/game_state_repository.py
  app/services/action_handlers/base_handler.py
  app/services/action_handlers/dice_submission_handler.py
  app/services/action_handlers/next_step_handler.py
  app/services/action_handlers/player_action_handler.py
  app/services/action_handlers/retry_handler.py
  app/services/chat_service.py
  app/services/event_factory.py
  app/services/game_orchestrator.py
  app/services/shared_state_manager.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  tests/integration/content/rag/test_rag_enabled_integration.py
  tests/integration/models/test_unified_models_e2e.py
  tests/integration/services/test_auto_continuation.py
  tests/integration/services/test_backend_trigger_busy_ai.py
  tests/integration/services/test_system_events.py
  tests/unit/services/test_game_orchestrator.py
Due: mypy-app, mypy-tests

refactor: Complete Task 3.3 - Implement Dependency Injection for Handlers
  REORGANISATION-PLAN-BEFORE-6.3.2.md
  app/core/container.py
  app/core/interfaces.py
  app/services/action_handlers/dice_submission_handler.py
  app/services/action_handlers/next_step_handler.py
  app/services/action_handlers/player_action_handler.py
  app/services/action_handlers/retry_handler.py
  app/services/game_orchestrator.py
Due: mypy-app

chore: Clean up codebase after refactoring
  REORGANISATION-PLAN-BEFORE-6.3.2.md
  app/domain/game_model/__init__.py
  app/models/utils.py
  app/services/action_handlers/base_handler.py
  app/services/shared_state_manager.py
  docs/ARCHITECTURE.md
  frontend/src/types/unified.ts
  scripts/dev/generate_ts.py
Due: mypy-app

feat: Phase 5 - Complete backend implementation for Content Pack Management API
  CLAUDE.md
  app/api/__init__.py
  app/api/content_routes.py
  app/content/content_types.py
  app/content/repositories/content_pack_repository.py
  app/content/repositories/db_repository_hub.py
  app/content/repositories/db_spell_repository.py
  app/content/schemas/__init__.py
  app/content/schemas/content_pack.py
  app/content/schemas/types.py
  app/content/service.py
  app/content/services/__init__.py
  app/content/services/content_pack_service.py
  app/content/services/indexing_service.py
  app/core/container.py
  app/domain/campaigns/service.py
  app/models/campaign.py
  app/models/character.py
  app/models/game_state.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  frontend/src/types/unified.ts
  tests/integration/api/test_content_pack_api.py
  tests/unit/content/repositories/test_content_pack_repository.py
  tests/unit/content/services/test_content_pack_service.py
  tests/unit/content/services/test_content_service.py
  tests/unit/content/services/test_indexing_service.py
  tests/unit/content/services/test_service_priority.py
  tests/unit/domain/campaigns/test_campaign_service_content_packs.py
Due: mypy-app, mypy-tests

feat: Complete Task 6.1.2 - Create CampaignFactory
  app/core/container.py
  app/domain/campaigns/factories.py
  app/domain/campaigns/service.py
  app/domain/characters/factories.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  tests/unit/domain/campaigns/test_campaign_factory.py
  tests/unit/domain/campaigns/test_campaign_service_content_packs.py
  tests/unit/domain/characters/test_character_factory.py
Due: mypy-app, mypy-tests

feat: Complete Task 6.3.4 - Response Processor Refactoring
  app/core/ai_interfaces.py
  app/core/container.py
  app/services/ai_response_processor.py
  app/services/ai_response_processors/__init__.py
  app/services/ai_response_processors/dice_request_handler.py
  app/services/ai_response_processors/interfaces.py
  app/services/ai_response_processors/narrative_processor.py
  app/services/ai_response_processors/rag_processor.py
  app/services/ai_response_processors/state_update_processor.py
  app/services/state_updaters/combat_condition_updater.py
  app/services/state_updaters/combat_helpers.py
  app/services/state_updaters/combat_hp_updater.py
  app/services/state_updaters/combat_state_updater.py
  app/services/state_updaters/inventory_updater.py
  app/services/state_updaters/quest_updater.py
  app/services/state_updaters/utils.py
  docs/DATABASE-MIGRATION-PLAN.md
  docs/DATABASE-MIGRATION-PROGRESS.md
  tests/unit/domain/game_model/test_state_processors_combat_end.py
Due: mypy-app, mypy-tests

feat: Task 3.6 - Update API Routes to Use Unified Interface
  REORGANISATION-PLAN-BEFORE-6.3.2.md
  app/api/game_routes.py
  app/api/helpers.py
  app/services/game_orchestrator.py
  tests/integration/services/test_edge_cases.py
  tests/unit/services/test_game_orchestrator.py
Due: mypy-app, mypy-tests

feat: Complete Phase 5 - Frontend implementation for Content Manager
  docs/DATABASE-MIGRATION-PROGRESS.md
  frontend/src/components/content/ContentPackCard.vue
  frontend/src/components/content/CreatePackModal.vue
  frontend/src/components/content/UploadContentModal.vue
  frontend/src/main.ts
  frontend/src/services/contentApi.ts
  frontend/src/stores/contentStore.ts
  frontend/src/types/content.ts
  frontend/src/types/unified.ts
  frontend/src/views/ContentManagerView.vue
  frontend/src/views/LaunchScreen.vue
Due: none

docs: Update all documentation to reflect content management refactor
  CLAUDE.md
  app/content/README.md
  app/content/rag/no_op_rag_service.py
  app/services/action_handlers/base_handler.py
  docs/CONFIGURATION.md
  docs/DATABASE-GUIDE.md
  docs/DATABASE-MIGRATION-PLAN.md
  docs/DATABASE-MIGRATION-PROGRESS.md
  docs/DATABASE-MIGRATION-SPEC.md
  docs/RAG-SYSTEM.md
Due: mypy-app

feat: Complete Task 6.3.5 - Large Processor Decomposition
  app/services/ai_response_processors/dice_request_handler.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  tests/unit/services/test_ai_response_processor.py
Due: mypy-app, mypy-tests

refactor: Complete Task 6.3.1 - State Processor Decomposition Cleanup
  app/domain/game_model/processors/__init__.py
  app/domain/game_model/processors/combat_condition_processor.py
  app/domain/game_model/processors/combat_helpers.py
  app/domain/game_model/processors/combat_hp_processor.py
  app/domain/game_model/processors/combat_state_processor.py
  app/domain/game_model/processors/inventory_state_processor.py
  app/domain/game_model/processors/quest_state_processor.py
  app/domain/game_model/processors/utils.py
  app/domain/game_model/state_processors.py
  app/services/response_processor.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  tests/unit/domain/game_model/test_state_processors_combat_end.py
Due: mypy-app, mypy-tests

feat: Complete Tasks 5.6.7-5.6.8 - TypeScript generation enhancements and JSON loading analysis
  CLAUDE.md
  docs/DATABASE-MIGRATION-PROGRESS.md
  frontend/src/types/unified.ts
  scripts/dev/generate_ts.py
  scripts/dev/validate_types.py
Due: none

feat: Complete Task 6.2.4 - Model Reorganization
  app/models/character.py
  app/models/character/__init__.py
  app/models/character/combined.py
  app/models/character/instance.py
  app/models/character/template.py
  app/models/character/utils.py
  app/models/combat.py
  app/models/combat/__init__.py
  app/models/combat/attack.py
  app/models/combat/combatant.py
  app/models/combat/response.py
  app/models/combat/state.py
  app/models/events.py
  app/models/events/__init__.py
  app/models/events/base.py
  app/models/events/combat.py
  app/models/events/dice.py
  app/models/events/game_state.py
  app/models/events/narrative.py
  app/models/events/system.py
  app/models/events/utils.py
  docs/DATABASE-MIGRATION-PROGRESS.md
Due: mypy-app

refactor: Cleanup unused with vulture
  app/content/dual_connection.py
  app/content/rag/d5e_document_converters.py
  app/content/rag/query_engine.py
  app/content/rag/rag_context_builder.py
  app/content/repositories/content_pack_repository.py
  app/content/repositories/db_class_repository.py
  app/content/repositories/db_equipment_repository.py
  app/content/repositories/db_monster_repository.py
  app/content/repositories/db_repository_hub.py
  app/content/schemas/progression.py
  app/content/service.py
  app/core/container.py
  app/core/event_queue.py
  app/core/interfaces.py
  app/core/repository_interfaces.py
  app/domain/campaigns/service.py
  app/domain/combat/combat_utilities.py
  app/models/campaign.py
  app/models/character.py
  app/models/combat.py
  app/models/rag.py
  app/models/utils.py
  app/repositories/game/campaign_instance_repository.py
  app/repositories/game/character_instance_repository.py
  app/repositories/game/character_template_repository.py
  app/repositories/game/in_memory_campaign_instance_repository.py
  app/repositories/game/in_memory_character_instance_repository.py
  app/services/game_events/handlers/base_handler.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  frontend/src/types/unified.ts
  scripts/dev/generate_ts.py
  scripts/dev/validate_types.py
Due: mypy-app

feat: Complete Task 5.6.6 - Add D&D 5e content validation to models
  app/content/rag/d5e_document_converters.py
  app/core/container.py
  app/models/campaign.py
  app/models/character.py
  app/models/combat.py
  app/models/utils.py
  docs/DATABASE-MIGRATION-PROGRESS.md
Due: mypy-app

fix: Resolve frontend display issues for map and party HP
  app/api/sse_routes.py
  app/models/events/utils.py
  app/services/state_updaters/combat_state_updater.py
  app/services/state_updaters/inventory_updater.py
  frontend/src/stores/eventRouter.ts
  frontend/src/stores/gameStore.ts
  frontend/src/stores/partyStore.ts
  scripts/demo_content_validation.py
Due: mypy-app

feat: Complete Phase 5.5 - Dual database architecture and 100% content creation coverage
  app/api/content_routes.py
  app/api/validators.py
  app/content/schemas/character.py
  app/content/services/content_pack_service.py
  app/core/container.py
  docs/DATABASE-MIGRATION-PLAN.md
  docs/DATABASE-MIGRATION-PROGRESS.md
  frontend/src/components/content/ContentCreationForm.vue
  frontend/src/components/content/UploadContentModal.vue
  frontend/src/services/contentApi.ts
  frontend/src/types/content.ts
  frontend/src/types/unified.ts
  frontend/src/views/ContentPackDetailView.vue
  scripts/dev/generate_ts.py
  tests/integration/api/test_content_pack_api.py
  tests/unit/content/schemas/test_d5e_models.py
  tests/unit/content/services/test_content_pack_service.py
Due: mypy-app, mypy-tests

docs: Add CampaignFactory task to Phase 6 cleanup
  docs/DATABASE-MIGRATION-PLAN.md
  docs/DATABASE-MIGRATION-PROGRESS.md
Due: none

fix: Complete Task 6.3.2 - API Route Consolidation fixes and improvements
  app/api/d5e_routes.py
  app/content/service.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  frontend/src/services/campaignApi.ts
  tests/integration/api/test_d5e_api.py
  tests/integration/api/test_d5e_api_integration.py
  tests/unit/api/test_d5e_content_pack_filtering.py
  tests/unit/api/test_route_exceptions.py
Due: mypy-app, mypy-tests

feat: Complete Task 6.1.3 - Service Layer Splitting
  app/content/schemas/character.py
  app/services/dice_service.py
  app/services/game_orchestrator.py
  app/services/orchestration/__init__.py
  app/services/orchestration/combat_orchestration_service.py
  app/services/orchestration/event_routing_service.py
  app/services/orchestration/narrative_orchestration_service.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  tests/integration/content/rag/test_rag_enabled_integration.py
  tests/unit/core/test_container_config.py
  tests/unit/services/test_game_orchestrator.py
Due: mypy-app, mypy-tests

feat: Complete Phase 5.6 - Refactor to use ContentService as single source of truth
  app/api/character_routes.py
  app/content/service.py
  app/core/container.py
  app/domain/campaigns/service.py
  app/domain/characters/factories.py
  app/models/README.md
  app/models/character.py
  app/models/utils.py
  docs/DATABASE-MIGRATION-PHASE-5.6-PLAN.md
  docs/DATABASE-MIGRATION-PLAN.md
  docs/DATABASE-MIGRATION-PROGRESS.md
  tests/integration/models/test_unified_models_e2e.py
  tests/unit/api/test_character_adventures_route.py
  tests/unit/domain/campaigns/test_campaign_service_content_packs.py
  tests/unit/domain/characters/test_character_factory.py
Due: mypy-app, mypy-tests

feat: Complete Task 6.2.3 - Additional Factories
  app/core/container.py
  app/domain/combat/combat_service.py
  app/domain/combat/factories.py
  app/domain/npcs/__init__.py
  app/domain/npcs/factories.py
  app/domain/quests/__init__.py
  app/domain/quests/factories.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  tests/unit/domain/combat/test_combat_factory.py
  tests/unit/domain/combat/test_combat_service.py
  tests/unit/domain/npcs/test_npc_factory.py
  tests/unit/domain/quests/test_quest_factory.py
Due: mypy-app, mypy-tests

feat: Complete Task 0.2 - Type Safety Audit
  app/models/common.py
  app/models/events/game_events.py
  app/providers/ai/base.py
  app/providers/ai/openai_service.py
  app/providers/ai/prompt_builder.py
  app/services/action_handlers/base_handler.py
  app/services/shared_state_manager.py
  app/utils/message_converter.py
  docs/FAST-API-MIGRATION-PROGRESS.md
  tests/integration/services/test_prompt_filtering.py
  tests/unit/providers/ai/test_openai_service.py
Due: mypy-app, mypy-tests

feat: Complete Task 1.1 - FastAPI Setup
  app/api/dependencies_fastapi.py
  app/api/init_fastapi.py
  app/factory.py
  docs/FAST-API-MIGRATION-PROGRESS.md
  main.py
  requirements.txt
  run.py
Due: mypy-app, mypy-run

docs: Complete Task 1.2 - Convert Application Factory
  docs/FAST-API-MIGRATION-PROGRESS.md
Due: none

feat: Complete Tasks 1.3.1 and 1.3.2.1 - Convert health and character routes to FastAPI
  app/api/character_fastapi.py
  app/api/health_fastapi.py
  app/api/init_fastapi.py
  docs/FAST-API-MIGRATION-PLAN.md
  docs/FAST-API-MIGRATION-PROGRESS.md
Due: mypy-app

feat: Complete Tasks 1.3.2.2 to 1.3.2.4 - Convert config, TTS, and campaign routes to FastAPI
  app/api/campaign_fastapi.py
  app/api/config_fastapi.py
  app/api/dependencies_fastapi.py
  app/api/init_fastapi.py
  app/api/tts_fastapi.py
  docs/FAST-API-MIGRATION-PROGRESS.md
Due: mypy-app
