Repository mmerah/ai-gamemaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-app, mypy-tests, mypy-run

mypy-app:
  name: Type check app/ with mypy
  entry: mypy app --strict
  language: system
  pass_filenames: false

mypy-tests:
  name: Type check tests/ with mypy
  entry: mypy tests --strict
  language: system
  pass_filenames: false

mypy-run:
  name: Type check run.py with mypy
  entry: mypy run.py --strict
  language: system
  pass_filenames: false

feat: Complete Tasks 1.3.2.5 to 1.3.2.7 and add Task 1.5 - Convert remaining routes to FastAPI
  app/api/campaign_template_fastapi.py
  app/api/frontend_fastapi.py
  app/api/init_fastapi.py
  app/api/sse_fastapi.py
  app/factory.py
  docs/FAST-API-MIGRATION-PLAN.md
  docs/FAST-API-MIGRATION-PROGRESS.md
Due: mypy-app

feat: Complete Task 1.3.2.8 - Convert game routes to FastAPI
  app/api/game_fastapi.py
  app/api/init_fastapi.py
  docs/FAST-API-MIGRATION-PROGRESS.md
Due: mypy-app

feat: Complete Task 1.3.2.9 - Convert content routes to FastAPI
  app/api/content_fastapi.py
  app/api/dependencies_fastapi.py
  app/api/init_fastapi.py
  docs/FAST-API-MIGRATION-PROGRESS.md
Due: mypy-app

feat: Complete Task 1.3.2.10 - Convert d5e routes to FastAPI
  app/api/d5e_fastapi.py
  app/api/init_fastapi.py
  docs/FAST-API-MIGRATION-PROGRESS.md
Due: mypy-app

feat: Complete Task 1.3.2.11 - Delete unused API routes and clean up tests
  app/api/__init__.py
  app/api/d5e_fastapi.py
  app/api/d5e_routes.py
  app/api/frontend_fastapi.py
  app/api/frontend_routes.py
  app/api/health.py
  app/api/health_fastapi.py
  app/api/init_fastapi.py
  docs/FAST-API-MIGRATION-PROGRESS.md
  tests/integration/api/test_d5e_api.py
  tests/integration/api/test_sse_endpoint.py
  tests/unit/api/test_route_exceptions.py
Due: mypy-app, mypy-tests

feat: Complete Tasks 1.4-1.6 - Type Safety, Error Handling, and Implementation Fixes
  app/api/campaign_fastapi.py
  app/api/campaign_template_fastapi.py
  app/api/character_fastapi.py
  app/api/config_fastapi.py
  app/api/content_fastapi.py
  app/api/content_routes.py
  app/api/d5e_fastapi.py
  app/api/exception_handlers.py
  app/api/game_fastapi.py
  app/api/game_routes.py
  app/api/sse_fastapi.py
  app/api/tts_fastapi.py
  app/content/schemas/__init__.py
  app/content/schemas/content_types.py
  app/content/services/content_pack_service.py
  app/core/content_interfaces.py
  app/core/external_interfaces.py
  app/factory.py
  app/models/api/__init__.py
  app/models/api/requests.py
  app/models/api/responses.py
  app/models/campaign.py
  app/models/character/template.py
  app/models/tts.py
  app/services/tts_integration_service.py
  docs/FAST-API-MIGRATION-PLAN.md
  docs/FAST-API-MIGRATION-PROGRESS.md
  frontend/src/components/game/ChatHistory.vue
  frontend/src/stores/chatStore.ts
  frontend/src/types/ui.ts
  tests/integration/api/test_content_pack_api.py
  tests/integration/content/database/test_database_performance.py
  tests/unit/content/services/test_content_pack_service.py
Due: mypy-app, mypy-tests

refactor: Condensate development guidelines into CLAUDE.md
  .gitignore
  CLAUDE.md
Due: none

feat: Complete Task 1.7 - Improve Type Safety in Tests
  app/api/game_fastapi.py
  app/models/api/__init__.py
  app/models/api/requests.py
  app/models/api/responses.py
  tests/integration/api/test_content_pack_api.py
  tests/integration/api/test_d5e_api.py
  tests/integration/comprehensive_backend/test_comprehensive_combat.py
  tests/integration/services/test_edge_cases.py
  tests/unit/api/test_campaign_instances_route.py
  tests/unit/api/test_d5e_content_pack_filtering.py
Due: mypy-app, mypy-tests

feat: Complete Task 1.9 - Frontend API Compatibility Updates
  app/api/campaign_template_routes.py
  app/models/dice.py
  app/models/game_state.py
  app/services/action_handlers/dice_submission_handler.py
  docs/FAST-API-MIGRATION-PLAN.md
  docs/FAST-API-MIGRATION-PROGRESS.md
  frontend/src/components/content/UploadContentModal.vue
  frontend/src/components/game/DiceRequests.vue
  frontend/src/services/apiClient.ts
  frontend/src/services/campaignApi.ts
  frontend/src/services/contentApi.ts
  frontend/src/services/gameApi.ts
  frontend/src/services/ttsApi.ts
  frontend/src/stores/campaignStore.ts
  frontend/src/stores/campaignTemplateStore.ts
  frontend/src/stores/configStore.ts
  frontend/src/stores/contentStore.ts
  frontend/src/stores/diceStore.ts
  frontend/src/stores/eventRouter.ts
  frontend/src/stores/gameStore.ts
  frontend/src/stores/partyStore.ts
  frontend/src/types/api.ts
  frontend/src/types/content.ts
  frontend/src/types/index.ts
  frontend/src/types/ui.ts
  frontend/src/types/unified.ts
  frontend/src/views/CharactersManagerScreen.vue
  frontend/src/views/LaunchScreen.vue
  scripts/dev/generate_ts.py
  scripts/dev/validate_types.py
Due: mypy-app

fix: Post-migration fixes for character templates and configuration display
  app/content/services/content_pack_service.py
  frontend/src/components/campaign/CampaignFromTemplateModal.vue
  frontend/src/types/unified.ts
  frontend/src/views/ConfigurationScreen.vue
  saves/character_templates/elara_meadowlight.json
  saves/character_templates/torvin_stonebeard.json
  saves/character_templates/zaltar_mystic.json
  scripts/dev/generate_ts.py
Due: mypy-app

feat: Enable TypeScript strict checks for improved type safety
  frontend/src/stores/combatStore.ts
  frontend/src/stores/contentStore.ts
  frontend/tsconfig.json
Due: none

docs: Complete Task 1.2 - Convert Application Factory
  docs/FAST-API-MIGRATION-PROGRESS.md
Due: none

feat: Complete Task 1.1 - FastAPI Setup
  app/api/dependencies_fastapi.py
  app/api/init_fastapi.py
  app/factory.py
  docs/FAST-API-MIGRATION-PROGRESS.md
  main.py
  requirements.txt
  run.py
Due: mypy-app, mypy-run

feat: Complete Tasks 1.3.2.2 to 1.3.2.4 - Convert config, TTS, and campaign routes to FastAPI
  app/api/campaign_fastapi.py
  app/api/config_fastapi.py
  app/api/dependencies_fastapi.py
  app/api/init_fastapi.py
  app/api/tts_fastapi.py
  docs/FAST-API-MIGRATION-PROGRESS.md
Due: mypy-app

feat: Complete Task 0.2 - Type Safety Audit
  app/models/common.py
  app/models/events/game_events.py
  app/providers/ai/base.py
  app/providers/ai/openai_service.py
  app/providers/ai/prompt_builder.py
  app/services/action_handlers/base_handler.py
  app/services/shared_state_manager.py
  app/utils/message_converter.py
  docs/FAST-API-MIGRATION-PROGRESS.md
  tests/integration/services/test_prompt_filtering.py
  tests/unit/providers/ai/test_openai_service.py
Due: mypy-app, mypy-tests

feat: Complete Tasks 1.3.1 and 1.3.2.1 - Convert health and character routes to FastAPI
  app/api/character_fastapi.py
  app/api/health_fastapi.py
  app/api/init_fastapi.py
  docs/FAST-API-MIGRATION-PLAN.md
  docs/FAST-API-MIGRATION-PROGRESS.md
Due: mypy-app

refactor(rag): Remove obsolete in-memory knowledge base implementation
  app/content/rag/__init__.py
  app/content/rag/d5e_knowledge_base_manager.py
  app/content/rag/db_knowledge_base_manager.py
  app/content/rag/knowledge_base.py
  app/content/rag/rag_service.py
  app/core/container.py
  docs/RAG-IMPROVEMENT-PLAN.md
  tests/integration/content/rag/test_d5e_rag_integration.py
  tests/unit/content/rag/test_d5e_knowledge_base_manager.py
  tests/unit/content/rag/test_knowledge_base_manager.py
  tests/unit/content/rag/test_rag_content_pack_priority.py
  tests/unit/content/rag/test_rag_service.py
Due: mypy-app, mypy-tests

Path conditions:
  mypy-app: any of: ^app/.*\.py$
  mypy-tests: any of: ^tests/.*\.py$
  mypy-run: any of: ^run\.py$
