Repository mmerah/ai-gamemaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-app, mypy-tests, mypy-run

mypy-app:
  name: Type check app/ with mypy
  entry: mypy app --strict
  language: system
  pass_filenames: false

mypy-tests:
  name: Type check tests/ with mypy
  entry: mypy tests --strict
  language: system
  pass_filenames: false

mypy-run:
  name: Type check run.py with mypy
  entry: mypy run.py --strict
  language: system
  pass_filenames: false

feat(rag): Implement modular architecture with reranker and query engine interfaces
  app/content/rag/interfaces.py
  app/content/rag/query_engine.py
  app/content/rag/rag_service.py
  app/content/rag/rerankers.py
  app/core/container.py
  docs/RAG-IMPROVEMENT-PLAN.md
  tests/unit/content/rag/test_rag_content_pack_priority.py
Due: mypy-app, mypy-tests

feat(rag): Complete Phase 5 - Testing & Validation with Golden Pairs Test Suite
  app/content/rag/patterns.py
  app/content/rag/query_engine.py
  app/content/rag/rag_service.py
  app/content/rag/rerankers.py
  app/models/rag.py
  docs/RAG-IMPROVEMENT-PLAN.md
  tests/integration/content/rag/test_rag_golden_pairs.py
  tests/run_all_tests.py
Due: mypy-app, mypy-tests

feat(rag): Enhance RAG Tester with comprehensive game state configuration
  docs/RAG-IMPROVEMENT-PLAN.md
  frontend/src/components/content/RAGTester.vue
  frontend/src/components/content/rag/CombatConfigurator.vue
  frontend/src/components/content/rag/PartyConfigurator.vue
  frontend/src/components/content/rag/QueryPresets.vue
  frontend/src/components/content/rag/WorldStateConfigurator.vue
  frontend/src/types/ui.ts
Due: none

fix(rag): Fix RAG Tester 422 validation errors and add clear functionality
  app/api/exception_handlers.py
  frontend/src/components/content/RAGTester.vue
Due: mypy-app

refactor(rag): Remove obsolete in-memory knowledge base implementation
  app/content/rag/__init__.py
  app/content/rag/d5e_knowledge_base_manager.py
  app/content/rag/db_knowledge_base_manager.py
  app/content/rag/knowledge_base.py
  app/content/rag/rag_service.py
  app/core/container.py
  docs/RAG-IMPROVEMENT-PLAN.md
  tests/integration/content/rag/test_d5e_rag_integration.py
  tests/unit/content/rag/test_d5e_knowledge_base_manager.py
  tests/unit/content/rag/test_knowledge_base_manager.py
  tests/unit/content/rag/test_rag_content_pack_priority.py
  tests/unit/content/rag/test_rag_service.py
Due: mypy-app, mypy-tests

feat(frontend): Complete Phase 1 - Core Layout and Application Shell
  docs/FRONTEND-REFACTOR-PLAN.md
  frontend/src/App.vue
  frontend/src/components/layout/ConnectionStatus.vue
Due: none

feat(frontend): Complete Phase 2 - Create Base Component Library
  docs/FRONTEND-REFACTOR-PLAN.md
  frontend/src/components/base/AppButton.vue
  frontend/src/components/base/AppCard.vue
  frontend/src/components/base/AppInput.vue
  frontend/src/components/base/AppModal.vue
  frontend/src/components/base/AppTextarea.vue
  frontend/src/components/base/BaseAlert.vue
  frontend/src/components/base/BaseBadge.vue
  frontend/src/components/base/BaseLoader.vue
  frontend/src/components/base/BasePanel.vue
Due: none

feat(frontend): Complete Phase 3 - View-by-View Refactoring
  docs/FRONTEND-REFACTOR-PLAN.md
  frontend/src/components/base/AppSelect.vue
  frontend/src/components/campaign/CampaignGrid.vue
  frontend/src/components/campaign/CampaignModal.vue
  frontend/src/components/campaign/CampaignTemplateGrid.vue
  frontend/src/components/content/ContentCreationForm.vue
  frontend/src/components/content/ContentPackCard.vue
  frontend/src/components/content/CreatePackModal.vue
  frontend/src/components/content/RAGTester.vue
  frontend/src/components/content/UploadContentModal.vue
  frontend/src/components/content/rag/CombatConfigurator.vue
  frontend/src/components/content/rag/PartyConfigurator.vue
  frontend/src/components/content/rag/QueryPresets.vue
  frontend/src/components/content/rag/WorldStateConfigurator.vue
  frontend/src/components/game/ChatHistory.vue
  frontend/src/components/game/ChatMessage.vue
  frontend/src/components/game/CombatStatus.vue
  frontend/src/components/game/DiceRequests.vue
  frontend/src/components/game/InputControls.vue
  frontend/src/components/game/MapPanel.vue
  frontend/src/components/game/PartyPanel.vue
  frontend/src/views/CampaignManagerView.vue
  frontend/src/views/ContentManagerView.vue
  frontend/src/views/ContentPackDetailView.vue
  frontend/src/views/GameView.vue
  frontend/src/views/LaunchScreen.vue
Due: none

refactor(tests): Overhaul test suite for performance and reliability
  app/__init__.py
  tests/conftest.py
  tests/integration/api/test_d5e_api.py
  tests/integration/content/database/test_database_performance.py
  tests/integration/content/rag/test_d5e_rag_integration.py
  tests/integration/content/rag/test_rag_enabled_integration.py
  tests/integration/content/rag/test_rag_golden_pairs.py
  tests/integration/providers/tts/test_tts_hierarchy_integration.py
  tests/unit/api/test_campaign_instances_route.py
  tests/unit/content/rag/test_rag_service.py
  tests/unit/content/services/test_content_service.py
  tests/unit/content/test_database_connection.py
Due: mypy-app, mypy-tests

feat(frontend): Complete Phase 4 - Component Conversion & Character System Redesign
  app/api/content_routes.py
  app/models/api/responses.py
  docs/FRONTEND-REFACTOR-PLAN.md
  frontend/src/components/base/AppCheckboxGroup.vue
  frontend/src/components/base/AppDynamicList.vue
  frontend/src/components/base/AppFormSection.vue
  frontend/src/components/base/AppInput.vue
  frontend/src/components/base/AppModal.vue
  frontend/src/components/base/AppNumberInput.vue
  frontend/src/components/base/AppTabs.vue
  frontend/src/components/base/AppTextarea.vue
  frontend/src/components/base/BaseAlert.vue
  frontend/src/components/base/BaseBadge.vue
  frontend/src/components/base/BaseLoader.vue
  frontend/src/components/campaign/CampaignFromTemplateModal.vue
  frontend/src/components/campaign/CampaignTemplateModal.vue
  frontend/src/components/campaign/CharacterCreationWizard.vue
  frontend/src/components/campaign/TemplateGrid.vue
  frontend/src/components/campaign/TemplateModal.vue
  frontend/src/components/content/ContentPackCard.vue
  frontend/src/components/game/ChatHistory.vue
  frontend/src/components/game/DiceRequests.vue
  frontend/src/main.ts
  frontend/src/services/contentApi.ts
  frontend/src/stores/contentStore.ts
  frontend/src/styles/main.css
  frontend/src/types/content.ts
  frontend/src/types/unified.ts
  frontend/src/views/CharactersManagerScreen.vue
  frontend/src/views/ConfigurationScreen.vue
  frontend/src/views/ContentManagerView.vue
  frontend/src/views/ContentPackDetailView.vue
  frontend/src/views/GameView.vue
  frontend/vite.config.ts
  scripts/dev/generate_ts.py
Due: mypy-app

feat(frontend): Complete Task 5.1 - Functional Placeholders and TODOs Resolution
  app/api/d5e_routes.py
  docs/FRONTEND-REFACTOR-PLAN.md
  frontend/src/components/base/BaseAlert.vue
  frontend/src/components/base/NotificationToast.vue
  frontend/src/components/base/icons/ErrorIcon.vue
  frontend/src/components/base/icons/InfoIcon.vue
  frontend/src/components/base/icons/SuccessIcon.vue
  frontend/src/components/base/icons/WarningIcon.vue
  frontend/src/components/campaign/CampaignFromTemplateModal.vue
  frontend/src/components/campaign/CharacterCreationWizard.vue
  frontend/src/components/campaign/ContentPackBadge.vue
  frontend/src/components/campaign/wizard-steps/AbilityScoresStep.vue
  frontend/src/components/campaign/wizard-steps/BasicInfoStep.vue
  frontend/src/components/campaign/wizard-steps/ContentPackSelectionStep.vue
  frontend/src/components/campaign/wizard-steps/RaceClassStep.vue
  frontend/src/components/campaign/wizard-steps/ReviewStep.vue
  frontend/src/components/campaign/wizard-steps/SkillsProficienciesStep.vue
  frontend/src/components/campaign/wizard-steps/SpellcastingStep.vue
  frontend/src/components/game/ChatHistory.vue
  frontend/src/components/game/DiceRequests.vue
  frontend/src/components/game/MapPanel.vue
  frontend/src/composables/useD5eData.ts
  frontend/src/constants/character.ts
  frontend/src/services/d5eApi.ts
  frontend/src/services/eventService.ts
  frontend/src/stores/chatStore.ts
  frontend/src/stores/combatStore.ts
  frontend/src/stores/diceStore.ts
  frontend/src/stores/eventRouter.ts
  frontend/src/stores/gameStore.ts
  frontend/src/stores/partyStore.ts
  frontend/src/stores/uiStore.ts
  frontend/src/types/unified.ts
  frontend/src/utils/logger.ts
  frontend/src/views/GameView.vue
Due: mypy-app

feat: align add/remove update models for AI consistency
  app/models/updates.py
  app/providers/ai/system_prompt.py
  app/services/state_updaters/combat_condition_updater.py
  app/services/state_updaters/inventory_updater.py
Due: mypy-app

refactor: Restructure services for clarity and architectural consistency
  CLAUDE.md
  app/core/container.py
  app/providers/ai/prompt_builder.py
  app/services/action_handlers/__init__.py
  app/services/ai_processor_coordinator.py
  app/services/ai_processors/__init__.py
  app/services/ai_processors/dice_request_processor.py
  app/services/ai_processors/interfaces.py
  app/services/ai_processors/narrative_processor.py
  app/services/ai_processors/rag_processor.py
  app/services/ai_processors/state_update_processor.py
  app/services/ai_processors/turn_advancement_processor.py
  app/services/event_handlers/__init__.py
  app/services/event_handlers/base_handler.py
  app/services/event_handlers/dice_submission_handler.py
  app/services/event_handlers/next_step_handler.py
  app/services/event_handlers/player_action_handler.py
  app/services/event_handlers/retry_handler.py
  app/services/game_orchestrator.py
  tests/conftest.py
  tests/unit/services/ai_processors/test_dice_validation.py
  tests/unit/services/test_ai_response_processor.py
Due: mypy-app, mypy-tests

feat(frontend): Add comprehensive character details modal
  README.md
  frontend/src/components/game/CharacterDetailsModal.vue
  frontend/src/components/game/PartyPanel.vue
Due: none

feat(campaign): Load full campaign data in edit modal
  .pre-commit-config.yaml
  app/content/scripts/migrate_content.py
  app/content/scripts/update_srd_content.py
  frontend/.prettierrc.json
  frontend/src/components/campaign/CampaignModal.vue
  frontend/src/views/CampaignManagerView.vue
  tests/integration/api/test_sse_async_events.py
  tests/integration/content/database/test_database_manager.py
  tests/integration/content/database/test_database_performance.py
  tests/integration/content/database/test_migration.py
  tests/integration/content/rag/test_d5e_rag_integration.py
  tests/unit/content/test_database.py
  tests/unit/content/test_database_connection.py
  tests/unit/content/test_database_schema.py
  tests/unit/repositories/game/test_campaign_instance_repository.py
Due: mypy-app, mypy-tests

Path conditions:
  mypy-app: any of: ^app/.*\.py$
  mypy-tests: any of: ^tests/.*\.py$
  mypy-run: any of: ^run\.py$
