Repository mmerah/ai-gamemaster: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-app, mypy-tests, mypy-run

mypy-app:
  name: Type check app/ with mypy
  entry: mypy app --strict
  language: system
  pass_filenames: false

mypy-tests:
  name: Type check tests/ with mypy
  entry: mypy tests --strict
  language: system
  pass_filenames: false

mypy-run:
  name: Type check run.py with mypy
  entry: mypy run.py --strict
  language: system
  pass_filenames: false

refactor: Remove redundant tests and improve test suite efficiency
  tests/integration/test_chat_and_sse_integration.py
  tests/integration/test_edge_cases.py
  tests/integration/test_event_system_behavior.py
  tests/test_helpers.py
  tests/unit/test_campaign_template_routes.py
  tests/unit/test_campaign_template_serialization.py
  tests/unit/test_character_routes.py
  tests/unit/test_character_service.py
  tests/unit/test_character_template_serialization.py
  tests/unit/test_character_template_validation.py
  tests/unit/test_combat_service.py
  tests/unit/test_game_models.py
  tests/unit/test_game_state_repository.py
  tests/unit/test_typescript_generator.py
Due: mypy-tests

refactor: Enhance type safety by replacing Dict[str, Any] with Pydantic models
  app/models/events.py
  app/models/models.py
  app/services/rag/no_op_rag_service.py
  app/services/rag/rag_context_builder.py
  app/services/rag/rag_service.py
  app/utils/token_monitor.py
  frontend/src/types/unified.ts
  tests/integration/comprehensive_backend/golden/comprehensive_combat_golden.json
  tests/unit/test_token_monitor.py
Due: mypy-app, mypy-tests

refactor: Remove 4 unused Pydantic models to reduce codebase complexity
  app/models/models.py
  frontend/src/types/unified.ts
Due: mypy-app

refactor: Configure vulture and eliminate dead code
  app/services/chat_service.py
  app/services/game_events/game_event_manager.py
  app/services/rag/rag_service.py
  app/utils/token_monitor.py
  pyproject.toml
Due: mypy-app

Fix readme
  README.md
Due: none

feat: Implement Phase 1 of 5e-database integration - data access layer
  .gitmodules
  app/core/container.py
  app/core/d5e_interfaces.py
  app/services/d5e/__init__.py
  app/services/d5e/data_loader.py
  app/services/d5e/index_builder.py
  app/services/d5e/reference_resolver.py
  tests/unit/test_d5e_data_loader.py
  tests/unit/test_d5e_index_builder.py
  tests/unit/test_d5e_reference_resolver.py
Due: mypy-app, mypy-tests

feat: Add comprehensive Pydantic models for D&D 5e data (Phase 2)
  app/models/d5e/__init__.py
  app/models/d5e/base.py
  app/models/d5e/character.py
  app/models/d5e/equipment.py
  app/models/d5e/mechanics.py
  app/models/d5e/progression.py
  app/models/d5e/spells_monsters.py
  tests/unit/test_d5e_models.py
Due: mypy-app, mypy-tests

feat: Add comprehensive D5e repository layer (Phase 3)
  app/repositories/d5e/__init__.py
  app/repositories/d5e/base_repository.py
  app/repositories/d5e/class_repository.py
  app/repositories/d5e/equipment_repository.py
  app/repositories/d5e/monster_repository.py
  app/repositories/d5e/repository_factory.py
  app/repositories/d5e/repository_hub.py
  app/repositories/d5e/spell_repository.py
  tests/unit/test_d5e_repositories.py
Due: mypy-app, mypy-tests

feat(d5e): Phase 4 & 4.5 - Data Service Layer and Type Safety Improvements
  app/models/d5e/__init__.py
  app/models/d5e/types.py
  app/repositories/d5e/base_repository.py
  app/repositories/d5e/repository_factory.py
  app/repositories/d5e/spell_repository.py
  app/services/d5e/reference_resolver.py
  app/services/d5e_data_service.py
  tests/unit/test_d5e_data_service.py
  tests/unit/test_d5e_reference_resolver.py
  tests/unit/test_d5e_repositories.py
Due: mypy-app, mypy-tests

feat(d5e): Complete Phase 5 - API Layer with Full D5e Integration
  app/core/container.py
  app/routes/d5e_routes.py
Due: mypy-app

feat(d5e): Phase 6 - RAG Integration with D5e Knowledge Base
  app/core/container.py
  app/core/d5e_interfaces.py
  app/repositories/d5e/base_repository.py
  app/repositories/d5e/class_repository.py
  app/repositories/d5e/equipment_repository.py
  app/repositories/d5e/monster_repository.py
  app/repositories/d5e/spell_repository.py
  app/services/d5e_data_service.py
  app/services/rag/d5e_document_converters.py
  app/services/rag/d5e_knowledge_base_manager.py
  requirements.txt
  tests/integration/test_d5e_rag_integration.py
  tests/unit/test_d5e_document_converters.py
  tests/unit/test_d5e_knowledge_base_manager.py
  tests/unit/test_d5e_repositories.py
Due: mypy-app, mypy-tests

feat: Complete legacy D5e file cleanup and RAG system integration
  app/core/container.py
  app/services/rag/d5e_knowledge_base_manager.py
  app/services/rag/knowledge_bases.py
  knowledge/equipment.json
  knowledge/monsters.json
  knowledge/rules/dnd5e_standard_rules.json
  knowledge/rulesets.json
  knowledge/spells.json
  saves/d5e_data/classes.json
  saves/d5e_data/races.json
  tests/integration/test_d5e_rag_integration.py
  tests/integration/test_rag_integration.py
  tests/unit/test_d5e_knowledge_base_manager.py
  tests/unit/test_knowledge_base_manager.py
  tests/unit/test_rag_service.py
Due: mypy-app, mypy-tests

feat: Complete Phase 7 - Critical Performance & Safety Improvements
  app/routes/d5e_routes.py
  app/services/d5e/data_loader.py
  app/services/d5e/index_builder.py
  tests/integration/test_d5e_api_integration.py
  tests/integration/test_d5e_rag_integration.py
Due: mypy-app, mypy-tests

feat(database): Complete Task 1.1 - Integrate SQLite and SQLAlchemy
  app/config.py
  app/core/container.py
  app/database/__init__.py
  app/database/connection.py
  app/models/config.py
  docs/DATABASE-MIGRATION-PLAN.md
  docs/DATABASE-MIGRATION-PROGRESS.md
  docs/DATABASE-MIGRATION-SPEC.md
  requirements.txt
  tests/unit/test_container_database.py
  tests/unit/test_database.py
Due: mypy-app, mypy-tests

feat(database): Task 1.2 - Define Core Database Models & Schema Migration
  .env.example
  .gitignore
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/2a409eb9e9d3_initial_migration_with_d5e_content_.py
  app/database/models.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  tests/unit/test_database_models.py
  tests/unit/test_database_schema.py
Due: mypy-app, mypy-tests

feat(database): Complete Task 1.3 - Data Migration with Zero-Setup Experience
  .gitignore
  CLAUDE.md
  README.md
  app/database/models.py
  app/models/d5e/__init__.py
  app/models/d5e/character.py
  app/models/d5e/mechanics.py
  app/models/d5e/progression.py
  app/models/d5e/spells_monsters.py
  app/repositories/d5e/class_repository.py
  docs/DATABASE-GUIDE.md
  docs/DATABASE-MIGRATION-PROGRESS.md
  launch.bat
  launch.sh
  scripts/migrate_json_to_db.py
  scripts/update_srd_content.py
  scripts/verify_migration.py
  tests/integration/test_backgrounds_migration.py
  tests/integration/test_migration.py
  tests/unit/test_d5e_models.py
Due: mypy-app, mypy-tests

fix: Clean up .gitignore and add pre-built content.db
  .gitignore
  data/content.db
Due: none

fix: Resolve mypy type errors in database schema tests
  docs/DATABASE-MIGRATION-PROGRESS.md
  tests/unit/test_database_schema.py
Due: mypy-tests

feat(database): Complete Phase 2 & 3 - Repository Migration to Database
  app/core/container.py
  app/models/d5e/base.py
  app/repositories/d5e/__init__.py
  app/repositories/d5e/base_repository.py
  app/repositories/d5e/db_base_repository.py
  app/repositories/d5e/db_class_repository.py
  app/repositories/d5e/db_equipment_repository.py
  app/repositories/d5e/db_monster_repository.py
  app/repositories/d5e/db_repository_factory.py
  app/repositories/d5e/db_repository_hub.py
  app/repositories/d5e/db_spell_repository.py
  app/repositories/d5e/repository_factory.py
  app/routes/d5e_routes.py
  app/services/d5e/data_loader.py
  app/services/d5e/index_builder.py
  app/services/d5e/reference_resolver.py
  app/services/d5e_data_service.py
  app/services/rag/d5e_knowledge_base_manager.py
  data/content.db
  docs/DATABASE-MIGRATION-PROGRESS.md
  scripts/migrate_json_to_db.py
  tests/unit/d5e/test_base_repository.py
  tests/unit/d5e/test_db_class_repository.py
  tests/unit/d5e/test_db_equipment_repository.py
  tests/unit/d5e/test_db_monster_repository.py
  tests/unit/d5e/test_db_repository_factory.py
  tests/unit/d5e/test_db_spell_repository.py
  tests/unit/test_d5e_data_loader.py
  tests/unit/test_d5e_data_service.py
  tests/unit/test_d5e_index_builder.py
  tests/unit/test_d5e_knowledge_base_manager.py
  tests/unit/test_d5e_reference_resolver.py
  tests/unit/test_d5e_repositories.py
  tests/unit/test_database_schema.py
Due: mypy-app, mypy-tests

feat: Complete test optimization and type safety improvements
  .pre-commit-config.yaml
  app/core/container.py
  app/database/validator.py
  app/routes/__init__.py
  app/routes/health.py
  docs/DATABASE-GUIDE.md
  tests/integration/conftest.py
  tests/integration/fixtures/test_database.py
  tests/integration/fixtures/test_database_manager.py
  tests/integration/test_d5e_rag_integration.py
  tests/integration/test_sse_endpoint.py
  tests/unit/test_config_routes.py
  tests/unit/test_container_database.py
  tests/unit/test_database_schema.py
  tests/unit/test_dice_mechanics.py
  tests/unit/test_knowledge_loader.py
  tests/unit/test_message_converter.py
  tests/unit/test_openai_service.py
  tests/unit/test_rag_service.py
  tests/unit/test_token_monitor.py
  tests/unit/test_typescript_validation.py
Due: mypy-app, mypy-tests

feat(database): Task 4.5.2 - Vector Search SQL Injection Prevention
  app/database/validator.py
  app/services/rag/db_knowledge_base_manager.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  scripts/audit_sql_queries.py
  tests/unit/test_rag_security.py
Due: mypy-app, mypy-tests

feat: Complete Task 4.5.5 - Enhanced Type Safety for Vector Operations
  app/database/models.py
  app/database/types.py
  app/services/rag/db_knowledge_base_manager.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  scripts/index_content_for_rag.py
  tests/integration/test_vector_indexing.py
  tests/unit/test_database_types.py
  tests/unit/test_database_vector_search.py
  tests/unit/test_rag_service.py
Due: mypy-app, mypy-tests

feat(config): Complete Task 4.5.6 - Configuration Management Refactor
  .env.example
  app/__init__.py
  app/config.py
  app/core/container.py
  app/game/prompt_builder.py
  app/routes/sse_routes.py
  app/services/game_events/handlers/base_handler.py
  app/services/rag/db_knowledge_base_manager.py
  app/services/rag/knowledge_bases.py
  app/services/rag/rag_service.py
  app/settings.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  requirements.txt
  tests/unit/test_settings.py
Due: mypy-app, mypy-tests

feat(exceptions): Task 4.5.7 - Comprehensive Error Handling and Custom Exceptions
  app/database/connection.py
  app/exceptions.py
  app/repositories/d5e/db_base_repository.py
  app/repositories/d5e/db_class_repository.py
  app/repositories/d5e/db_equipment_repository.py
  app/repositories/d5e/db_monster_repository.py
  app/repositories/d5e/db_spell_repository.py
  app/routes/__init__.py
  app/routes/d5e_routes.py
  app/routes/game_routes.py
  tests/unit/repositories/test_repository_exceptions.py
  tests/unit/routes/test_route_exceptions.py
  tests/unit/test_database.py
  tests/unit/test_exceptions.py
Due: mypy-app, mypy-tests

feat: Task 4.5.8 - Repository Pattern Purity with Production Enhancements
  app/repositories/d5e/db_base_repository.py
  docs/DATABASE-MIGRATION-PROGRESS.md
  tests/integration/repositories/test_repository_session_isolation.py
  tests/unit/repositories/test_repository_pattern_purity.py
Due: mypy-app, mypy-tests

Small cleanup of .md progress
  DATABASE-MIGRATION-REVIEW.md
  docs/DATABASE-MIGRATION-PROGRESS.md
  tests/fixtures/__init__.py
Due: mypy-tests

Path conditions:
  mypy-app: any of: ^app/.*\.py$
  mypy-tests: any of: ^tests/.*\.py$
  mypy-run: any of: ^run\.py$
